@{
  Layout = "_Layout";
}

<form action="/species" method="post">
  <label for="name">Name of Species:</label>
  <input type="text" name="name" id="name">
  <button type="submit">button</button>
</form>

<a href="/">Back Home</a>
<a href="/species">View all species in shelter</a>
